/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Body */
body {
    background-color: #C38154;
}

#grilla {
    display: grid;
    grid-template-areas:
        "header"
        "hero"
        "lista"
        "subDisco"
        "disco"
        "subRopa"
        "ropa"
        "subPosters"
        "posters"
        "encargo"
        "footer";
    grid-template-columns: 1fr;
    gap: 6px;
}

/* Estilos Header */
header {
    background-color: #884a39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    grid-area: header;
}

header a img {
    width: 45%;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6px;
    padding-right: 16px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
}

.ul__li--tamaño {
    font-family: Montserrat;
    font-size: 0.9rem;
}

span.ico {
    height: 10px;
    width: 10px;
}

.menuHamurguesa {
    color: white;
}

.menuHamurguesa,
.button__nav--border {
    border: none;
}

.menuHamurguesa:hover,
.button__nav--border:hover {
    background-color: #C38154;
}

/*Estilos de la hero section (Carrusel de imagenes)*/
.hero {
    height: 200px;
    grid-area: hero;
    margin-top: -6px;
}

.hero img {
    height: 200px;
}

.textos {
    display: none;
}

/*Distribucion de Catalogo*/


/*Formulario de encargo de disco*/
.encargoDisco {
    grid-area: encargo;
    max-width: 440px;
    margin: 8px;
    background-color: #DBA966;
    border: 2px solid black;
    z-index: 4;
}

.encargoDisco h2 {
    text-align: center;
    font-size: 1.6rem;
}

.encargoDisco form {
    display: flex;
    flex-direction: column;
}

.encargoDisco label {
    font-size: 1rem;
    margin: 4px 8px 0 0;
    justify-content: center;
    align-items: center;
    text-align: end;
}

.encargoDisco input {
    margin: 0 8px 4px 0;
    height: 32px;
}

/*Distribucion interna del formulario y estilos de los botones*/
.elemento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.botones button {
    padding: 4px;
    margin: 4px 12px 4px 0;
    border-radius: 20px;
}


/*Estilos Flecha (para regresar a arriba de la pagina)*/
.flechaSubir {
    display: none;
}


/*Estilos de la lista que actua como indice del catalogo*/
.lista {
    grid-area: lista;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DBA966;
    border: 2px solid black;
    margin: 0 8px;
}

.lista ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.lista ul li {
    font-size: 1.5rem;
}

.lista ul li a {
    text-decoration: none;
    color: black;

}

/*Estilos subtitulos que encabezan elementos del catalogo*/
.subtituloDisco,
.subtituloRopa,
.subtituloPosters {
    background-color: #884A39;
    color: white;
    border: 2px solid black;
    font-size: 2rem;
    text-align: center;
    padding: 8px;
    margin: 0 4px;
}

.subtituloDisco {
    grid-area: subDisco;
}

.catalogo {
    grid-area: disco;
    display: grid;
    grid-template-columns: 1fr;
}

.tarjetaDisco {
    background-color: #ffbd66;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 6px 8px 10px #fdac42;
    height: 320px;
    width: 240px;
    border: 2px solid black;
    text-align: center;
    margin: 8px auto;
}

.tarjetaDisco img {
    width: 240px;
    height: 180px;
    padding: 8px 16px;
    
}

.tarjetaDisco .precio {
    color: rgb(255, 0, 0);
    font-weight: bolder;
}

div.distribucion section.discos article img {
    width: 240px;
    height: 180px;
    padding: 8px;
}

.subtituloRopa {
    grid-area: subRopa;
}

.ropa {
    grid-area: ropa;
    display: grid;
    grid-template-columns: 1fr;
}

.subtituloPosters {
    grid-area: subPosters;
}

.posters {
    grid-area: posters;
    display: grid;
    grid-template-columns: 1fr;
}

/* Estilos Footer*/
footer {
    margin-top: 16px;
    grid-area: footer;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #884a39;
}

footer p {
    color: white;
    padding: 12px 0 0 4px;
    align-items: center;
}

footer div.redesSociales a img,
footer.footerContacto div.redesSociales a img {
    width: 26px;
    padding-right: 8px;
}

/*MEDIA QUERIES*/

/*Catalogo*/