/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Body */
body {
    background-color: #C38154;
}

/* Estilos Header */
header {
    background-color: #884a39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

header a img {
    width: 45%;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    padding-right: 16px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a:hover,
header nav ul li a:active {
    padding: 4px;
    background-color: #C38154;
}

.ul__li--tamaño {
    font-family: Montserrat;
    font-size: 14px;
}

span.ico {
    height: 10px;
    width: 10px;
}

.menuHamurguesa {
    color: white;
}

.menuHamurguesa,
.button__nav--border {
    border: none;
}

.menuHamurguesa:hover,
.button__nav--border:hover {
    background-color: #C38154;
}

/* Estilos hero */
main img {
    width: 100vh;
    height: 600px;
}

main .textos h1 {
    position: absolute;
    top: 180px;
    left: 6px;
    margin-left: 12px;
    color: white;
    font-size: 52px;
}

.misEstilos {
    max-height: 600px;
}

main .textos span {
    display: block;
    text-align: center;
}

main .textos span.nombrePag {
    display: inline;
    color: rgb(255, 136, 0);
    font-weight: bold;
    text-decoration: underline;
}

div.distribucion {
    display: grid;
    grid-template-columns: 420px auto;
    grid-template-rows: 1fr;
    margin: 16px;
    gap: 16px;
}

/* Estilos aside */
div.distribucion div.panelesCostado aside.encargoDisco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DBA966;
    border: 2px solid black;
}

div.distribucion aside.encargoDisco {
    display: flex;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: sticky;
    top: 340px;
    height: 50vh;
}

div.distribucion aside.encargoDisco form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


div.distribucion aside.encargoDisco h2 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: bolder;
}

div.distribucion aside.encargoDisco form input {
    margin: 8px;
}

.formulariosEncargo input:focus {
    border: 4px solid #da8405;
    background-color: #e9d3b7;
}

div.distribucion aside.encargoDisco form label {
    font-size: 16px;
    margin: auto;
}

.subir,
.resetear {
    border-radius: 32px;
    width: 120px;
    margin: auto;
    margin-top: 32px;
}

.subir:hover,
.resetear:hover {
    background-color: #d3d1d1;
}

div.distribucion div.flechaSubir {
    position: sticky;
    top: 880px;
    text-align: start;
    justify-content: center;
}

div.distribucion div.flechaSubir img.flecha {
    width: 60px;
    height: 60px;
}

div.distribucion form.formulariosEncargo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

/* Estilos Discos y catalogos*/
/* indice catalogo */
div.distribucion section.discos aside.lista {
    background-color: #DBA966;
    border: 2px solid black;
    display: grid;
    grid-column: 1/5;
}

div.distribucion section.discos aside.lista ul {
    list-style: none;
    padding: 16px;
    text-align: center;
}

div.distribucion section.discos aside.lista ul li {
    font-size: 24px;
}

div.distribucion section.discos aside.lista ul li a {
    text-decoration: none;
    color: #000;
}

div.distribucion section.discos aside.lista ul li a:hover {
    color: #fff;
    background-color: #884a39;
    padding: 4px;
}

div.distribucion section.discos aside.lista ul li a:active {
    color: #bbb;
    background-color: #6e392a;
}

/* Estilos Sección Catálogo */
div.distribucion section.discos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding-bottom: 16px;
    justify-content: center;
    text-align: center;
}

div.distribucion section.discos h2.subtitulo {
    grid-column: 1/5;
    border: 2px solid black;
    background-color: #884a39;
    color: white;
    padding: 32px;
}

div.distribucion section.discos article {
    border: 2px solid black;
    max-width: 250px;
    margin-left: 24px;
}

div.distribucion section.discos article.tarjetaDisco {
    background-color: #ffbd66;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 6px 8px 10px #fdac42;
    height: 320px;
}

div.distribucion section.discos article.tarjetaDisco:hover {
    background-color: #e7ab5b;
}

div.distribucion section.discos article.tarjetaDisco p.precio {
    color: rgb(255, 0, 0);
    font-weight: bolder;
}

div.distribucion section.discos article img {
    width: 240px;
    height: 180px;
    padding: 8px;
}

/* Estilos del HTML de artistas */
h2.subtitulo {
    background-color: #884A39;
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 10px;
    margin: 8px;
    border: 2px solid black;
}

article.artista1 h3 {
    display: inline-block;
    color: black;
    background-color: #DBA966;
}

article.artista1 section.nombreArtista h3 {
    display: inline-block;
    position: absolute;
    color: black;
    padding: 24px 128px;
    font-size: 24px;
    margin: 16px;
    width: 450px;
    height: 75px;
    border: 2px solid black;
    padding-bottom: 72px;
    text-align: center;
}

article.artista1 section.nombreArtista img {
    position: absolute;
    top: 864px;
    left: 16px;
    width: 450px;
    height: 600px;
    border: 2px solid black;
}

article.artista1 section.informacion {
    position: absolute;
    top: 800px;
    left: 512px;
}

article.artista1 section.informacion h3 {
    display: inline-block;
    text-align: center;
    padding: 8px 250px;
    border: 2px solid black;
    background-color: #DBA966;
}

article.artista1 section.informacion p {
    position: absolute;
    top: 40px;
    color: black;
    background-color: #ffbd66;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 4px;
}

article.artista1 section.informacion p span {
    display: block;
}

article.artista1 section.informacion p span.grupos span,
article.artista1 section.informacion p span.artistasRelacionados span {
    padding-top: 8px;
}

article.artista1 section.discografiaLista {
    position: absolute;
    top: 1010px;
    left: 512px;
}

article.artista1 section.discografiaLista h3 {
    display: inline-block;
    text-align: center;
    padding: 8px 114px;
    border: 2px solid black;
    background-color: #DBA966;
    width: 598px;
}

article.artista1 section.discografiaLista ul {
    position: absolute;
    top: 40px;
    color: black;
    background-color: #ffbd66;
    padding: 8px;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
    width: 598px;
    list-style: none;
}

article.artista1 section.discografiaLista ul li {
    padding-top: 8px;
    text-align: center;
}

article.artista1 section.redesArtista h3 {
    display: inline-block;
    position: absolute;
    top: 1310px;
    left: 512px;
    text-align: center;
    padding: 8px 150px;
    border: 2px solid black;
    background-color: #DBA966;
}

article.artista1 section.redesArtista a img {
    width: 60px;
    height: 60px;
    margin: 4px;
}

article.artista1 section.albumes h3 {
    display: inline-block;
    background-color: #DBA966;
    padding: 8px 256px;
    border: 2px solid black;
    position: relative;
    left: 1160px;
}

article.artista1 section.albumes div.discosSpotify {
    position: relative;
    top: -4px;
    right: 53px;
    margin-left: 1213px;
    ;
    background-color: #ffbd66;
    height: 620px;
    border: 2px solid black;
}


/* estilos galeria*/

main video.vid {
    display: inline-block;
    margin: 8px 128px;
    height: 600px;
    width: 85%;
}

article.fotos h1 {
    background-color: #884A39;
    color: white;
    font-size: 48px;
    text-align: center;
    margin: 6px;
    border: 2px solid black;
}

article.fotos h2 {
    background-color: #DBA966;
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 8px 64px;
    border: 2px solid black;
}

article.fotos section.contenedorFotos img,
section.contenedorVideos video {
    width: 400px;
    height: 280px;
    margin: 16px 36px;
    background-color: #ffbd66;
    padding: 8px;
    border: 2px solid black;
    border-radius: 16px;
}

/* estilos sobre nosotros */
main h1.tituloConocenos {
    background-color: #884A39;
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 10px;
    margin: 8px;
    border: 2px solid black;
}

section.historia article,
section.horarios,
section.ubicacion {
    display: inline-block;
    background-color: #ffbd66;
    text-align: center;
    margin: 24px;
    border: 2px solid black;
    padding: 8px 8px;
}

section.historia p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section.historia p span.musicTrip {
    color: #d66800;
    font-weight: bolder;
    font-family: Montserrat;
    font-size: 14px;
}

section.historia p span.destacado {
    color: #000000;
    font-weight: bolder;
    font-family: Montserrat;
    font-size: 14px;
    text-decoration: underline;
}

section.horarios {
    margin: 8px 620px;
}

section.horarios table {
    border: 2px solid black;
}

section.horarios table tr td {
    border: 1px solid black;
    fill: black;
    text-align: center;
    padding: 4px;
}

section.ubicacion {
    margin: 8px 520px;
}

section.ubicacion h2 {
    padding-bottom: 8px;
}

section.ubicacion div {
    border: 2px solid black;
}

/* estilos contactanos*/
main div.subTituloContacto {
    background-color: #884A39;
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 10px;
    margin: 20px 120px;
    border: 2px solid black;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    box-shadow: 12px 12px 6px #8d6358;
}

main div.subTituloContacto h2 {
    color: rgb(255, 145, 0);
    font-size: 64px;
    text-align: center;
    text-decoration: underline;
}

main div.formularioContacto {
    background-color: #DBA966;
    border: 2px solid black;
    text-align: center;
    margin: 20px 120px;
    text-align: center;
    height: 800px;
    position: relative;
    top: -22px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    box-shadow: 12px 12px 6px #d1b591;
}

main div.formularioContacto form div {
    margin: 100px 120px;

}

main div.formularioContacto form div.mensajeNombre label {
    position: relative;
    right: 32px;
}

main div.formularioContacto form div.mensajeNombre input {
    position: relative;
    right: 32px;
}

main div.formularioContacto form div.mensajeCorreo input {
    position: relative;
    left: 6px;
}

main div.formularioContacto form div.mensajeTextArea label {
    position: relative;
    bottom: 140px;
}

main div.formularioContacto form div.mensajeTextArea textarea {
    width: 600px;
}

main div.formularioContacto form div.botones input {
    color: rgb(0, 0, 0);
    background-color: #ffbd66;
    width: 100px;
    height: 40px;
    text-align: center;
    margin: 16px;
}

main div.formularioContacto form div input {
    width: 600px;
    height: 25px;
}

/* Estilos Footer*/
footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #884a39;
}

footer p {
    color: white;
    padding: 12px 0 0 4px;
    align-items: center;
}

footer div.redesSociales a img {
    width: 34px;
    padding-right: 8px;
}


/* MEDIA QUERIES*/
@media (max-width:1590px) {
    /*Catalogo*/

    /*flecha subir*/
    div.distribucion div.flechaSubir {
        position: sticky;
        top: 740px;
        text-align: start;
        justify-content: center;
    }

    div.distribucion div.flechaSubir img.flecha {
        width: 60px;
        height: 60px;
    }

    main .textos h1 {
        position: absolute;
        top: 180px;
        left: 6px;
        margin-left: 12px;
        color: white;
        font-size: 42px;
    }

    div.distribucion section.discos aside.lista {
        background-color: #DBA966;
        border: 2px solid black;
        display: grid;
        grid-column: 1/4;
        margin: auto;
        padding: 0 48vh;
    }

    div.distribucion div.panelesCostado aside.encargoDisco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #DBA966;
        border: 2px solid black;
    }

    div.distribucion aside.encargoDisco {
        display: flex;
        height: 40vh;
    }

    div.distribucion aside.encargoDisco h2 {
        font-size: 28px;
        font-weight: bold;
    }

    .subir,
    .resetear {
        width: 100px;
        margin-top: 16px;
    }

    div.distribucion div.flechaSubir img.flecha {
        width: 40px;
        height: 40px;
    }

    /* Estilos Sección Catálogo */
    div.distribucion section.discos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        gap: 16px 8px;
    }

    div.distribucion section.discos h2.subtitulo,
    div.distribucion section.discos h2#posters {
        grid-column: 1/4;
        margin: auto;
        padding: 2vh 48vh;
    }

    div.distribucion section.discos article {
        border: 2px solid black;
        max-width: 240px;
    }

    div.distribucion section.discos article.tarjetaDisco {
        background-color: #ffbd66;
        box-shadow: 4px 6px 8px #fdac42;
        height: 320px;
    }

    div.distribucion section.discos article.tarjetaDisco p.precio {
        color: rgb(255, 0, 0);
        font-weight: bolder;
    }
}

/* Media Query*/
@media (max-width:1388px) {

    div.distribucion {
        grid-template-columns: 1fr;
    }

    header {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding-right: 0;
        list-style: none;
    }

    main .textos h1 {
        position: absolute;
        top: 180px;
        left: 6px;
        margin-left: 12px;
        color: white;
        font-size: 42px;
    }

    div.distribucion section.discos aside.lista {
        display: grid;
        padding: 0 48vh;
    }

    div.distribucion div.panelesCostado aside.encargoDisco {
        position: relative;
        top: 0;
        background-color: #DBA966;
        border: 2px solid black;
    }

    div.distribucion aside.encargoDisco h2 {
        font-size: 36px;
        font-weight: bold;
    }

    div.distribucion div.flechaSubir {
        display: none;
    }
}

@media (max-width:990px) {

    div.distribucion {
        display: grid;
        grid-template-columns: 1fr;
    }

    main .textos h1 {
        display: none;
    }

    div.distribucion section.discos aside.lista {
        display: none;
        padding: 0 48vh;
    }

    div.distribucion section.discos {
        display: flex;
        flex-direction: column;
    }

    div.distribucion section.discos article {
        border: 2px solid black;
        width: 250px;
        margin: 0px;
    }

    div.distribucion div.panelesCostado aside.encargoDisco {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #DBA966;
        border: 2px solid black;
        width: 64vh;
        margin: auto;
    }

    div.distribucion aside.encargoDisco {
        display: flex;
        height: 45vh;
        width: 50vh;
    }

    div.distribucion aside.encargoDisco h2 {
        font-size: 20px;
        width: 30vh;
    }

    .subir,
    .resetear {
        width: 70px;
        margin-bottom: 0;
        font-size: 16px;
    }

    div.distribucion section.discos h2.subtitulo {
        display: none;
    }

    div.distribucion section.discos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin: auto;
    }

    div.distribucion section.discos article {
        border: 2px solid black;
        width: 250px;
        margin-left: 24px;
    }

    div.distribucion section.discos article.tarjetaDisco {
        background-color: #ffbd66;
        display: inline-block;
        border-radius: 12px;
        box-shadow: 6px 8px 10px #fdac42;
        height: 320px;
    }
}

@media (max-width:645px) {
    
    div.distribucion div.panelesCostado aside.encargoDisco{
        display: none;
    }


    div.distribucion section.discos {
        display: flex;
        flex-direction: column;
    }

    div.distribucion section.discos article {
        display: grid;
        border: 2px solid black;
        width: 50vh;
        margin: 0px;
    }

    div.distribucion div.panelesCostado aside.encargoDisco {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #DBA966;
        border: 2px solid black;
        width: 40vh;
        margin: auto;
        height: 45vh;
        width: 45vh;
    }

    div.distribucion aside.encargoDisco h2 {
        font-size: 20px;
        width: 30vh;
    }

    .subir,
    .resetear {
        width: 70px;
        margin-bottom: 0;
        font-size: 16px;
    }

    div.distribucion section.discos h2.subtitulo {
        display: none;
    }

    div.distribucion section.discos {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }

    div.distribucion section.discos article {
        border: 2px solid black;
        width: 40vh;
        margin-left: 24px;
    }

    footer {
        position: relative;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #884a39;
    }

    footer p {
        font-size: 12px;
        color: white;
        padding: 6px 0 0 2px;
        align-items: center;
    }

    footer div.redesSociales a img {
        width: 34px;
        padding-right: 4px;
    }
}
